* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family: 'Lato', 'Arial', open-sans;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
#loader {
    display: block;
    position: relative;
    left: 50vw;
    top: 50%;
    width: 10vh;
    height: 10vh;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.navigation-bar {
  position: fixed;
  width:5vw;
  list-style-type: none;
  height:100vh;
  background-image: linear-gradient(to right,rgba(0,0,0,0.1),rgba(255,0,0,0));
  overflow: hidden;
  overflow-x: hidden;
  transition: all 0.15s;
  z-index: 10;
}

.navigation-bar.highlight {
    background-image: linear-gradient(to right,rgba(0,0,0,0.6),rgba(255,0,0,0));
  width:11vw;
}

#HiddenText {
  padding-left: 0.5vw;
  display: inline-block;
  opacity: 0;
  transition: all 0.15s;
}

.navigation-bar a {
display: block;
color: white;
font-size: 1vw;
padding: 2vh 2vw;
text-decoration: none;
}

.navbutt {
  height:3vh;
  margin-bottom:1vh;
}

.navigation-bar img {

  display: block;
  width: 100%;
  height: 100%;
}



.navigation-bar:hover a{
  padding-left: 1vw;
}



.navigation-bar:hover .navline1-top{
  position: relative;
  right: 10%;
}

.navigation-bar:hover .navline1-bot{
  position: relative;
  right: 10%;
}

.navigation-bar:hover .navlinelow-bot{
  position: relative;
  right: 10%;
}

.navline1-top {
  position: relative;
  top: 0;
  margin: 0 auto;
  padding-top: 2vh;
  height: 30vh;
  width:1px;
  transition: all 0.15s;
  background-color: white;
}

.navline1-bot {
  position: relative;
  top: 0;
  margin: 0 auto;
  height: 20vh;
  width:1px;
  background-color: white;
  transition: all 0.15s;
}

.navlinelow-bot {
  position: relative;
  top: 0;
  margin: 0 auto;
  height: 100vh;
  width:1px;
  background-color: white;
  transition: all 0.15s;
  margin-bottom: 1vh
}


.navigation-bar:hover{
  width:11vw;
}

/* @media only screen and (max-width: 900px) {
  .navline1-bot {
    height: 40vh;
  }

} */

@media only screen and (max-width: 1200px) {
  #HiddenText {
    padding-left: 0.5vw;
    display: inline-block;
    opacity: 0;
    transition: all 0.15s;
  }

  .navigation-bar a {
  display: block;
  color: white;
  font-size: 1vw;
  padding: 8px 2vw;
  text-decoration: none;
  }

  .navigation-bar img {

    display: block;
    width: 100%;
    height: 100%;
  }

  .navline1-top {
    position: relative;
    top: 0;
    margin: 0 auto;
    height: 30vh;
    width:1px;
    transition: all 0.15s;
    background-color: white;
  }

  .navline1-bot {
    position: relative;
    top: 0;
    margin: 0 auto;
    height: 20vh;
    width:1px;
    background-color: white;
    transition: all 0.15s;
  }

  #firstlink {
    height:40px;
    padding-bottom: 8px;
  }

  .navigation-bar:hover a{
    padding-left: 1vw;
  }

  .navigation-bar:hover #firstlink{
    height:28px;
    padding-bottom: 8px;
  }

  #firstlink1 {
    height:36px;
    padding-bottom: 8px;
  }

  .navigation-bar:hover #firstlink1{
    padding-bottom: 0px;
  }
  .navigation-bar:hover{
    width: 140px;
  }
  .navigation-bar:hover .navline1-top{
    position: relative;
    right: 20%;
  }

  .navigation-bar:hover .navline1-bot{
    position: relative;
    right: 20%;
  }

  .navigation-bar:hover .navlinelow-bot{
    position: relative;
    right: 20%;
  }
}

.navigation-bar:hover #HiddenText{
  opacity: 1;
}

.navigation-bar.highlight #HiddenText{
  opacity: 1;
}

li a:hover {
background-color: #555;
color: white;
}

.navigation-bar-right {
  position: fixed;
  right:0;
  height: 100vh;
  width: 5vw;
  z-index: 10;
}

.links {
  padding-top: 1vh;
}

.link {
  border-radius: 50%;
  background-color: white;
  height:1vh;
  width: 1vh;
  position: relative;
  margin: 0 auto;
  transition: all 0.15s;
  margin-bottom: 1vh;
}

.link:hover {
  cursor: pointer;
  background-color: black;
}

.navline-top {
  position: relative;
  top: 0;
  margin: 0 auto;
  height: 46vh;
  width:1px;
  background-color: white;
}

.navline-bot {
  position: relative;
  margin: 0 auto;
  height: 46vh;
  width:1px;
  background-color: white;
}

.Hbackgrnd {
  position: absolute;
  top:0;
  z-index: -1;
}

.owl-item {
  margin: 0;
  padding: 0;
}

.slide1 {
  height: 100vh;
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slide2 {
  height: 100vh;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slide3 {
  height: 100vh;
  background-image: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.item {
  height:100vh;
  width: 100vw;
}

#video {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  min-width: 100%;
  min-height: 100%;
}

.stage .image-slide, .stage .video-slide {
    display: block;
    width: 100%;
    height: 100%;
}

.stage .video-slide > video {
    width: 100%;
    height: auto;
}
.slide5 {
  height: 100vh;
  background-image: url(../images/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slide6 {
  height: 100vh;
  background-image: url(../images/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.HomeContent {
  display: inline;
  position: absolute;
  color: white;
  bottom: 5vh;
  width: calc(100vw - ((100vw - 100%)));
  text-align: center;
}

.HomeContent h3 {
  font-size: 38px;
  font-weight: 100;
}

.HomeContent p {
  font-size: 20px;
  padding-bottom: 20px;
}

.buttons {
    position: relative;
    margin: 0 auto;
    margin-bottom: 4vh;

}

.HomeContent button {
  padding: 1vh 1.5vw 1vh 1.5vw;
  background-color: rgba(0,0,0,0.2);
  border-color: white;
  border-width: 1px;
  border-style: groove;
  font-size: 3vh;
  color:white;
  font-weight: 200;
  transition: all 0.15s;
  display: inline-block;
  text-align: center;
}

/* @media only screen and (max-width: 1300px) {
  .HomeContent button {
    display:block;
    position: relative;
    text-align: center;
    margin-bottom: 1vh;
    left:50%;
    transform:translateX(-50%);
  }
} */

.HomeContent button:hover {
  background-color: white;
  color:black;
  cursor: pointer;
}

.belowbutt {
  display: block;
}

.line {
  margin: 0 auto;
  width: 2px;
  height: 2vh;
  background-color:white;
  transform: translateX(-25%);
}

.belowbutt img{
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  margin-top:1vh;
  padding-top: 1vh;
  height: 4vh;
  transition: all 0.15s;
  }

.belowbutt img:hover{
  cursor: pointer;
  height: 5vh;
}

/* @media only screen and (max-width: 1360px) {
    .HomeContent button {
        display: inline-block;
    }
} */

@keyframes pullup {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  80% {
    transform: translateY(2vh);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  80% {
    transform: translateY(-2vh);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slidefromleft {

}

@@keyframes slidefromright {

}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

.sfooter {
  overflow-x: hidden;
  position: relative;
  background-color: white;
  top: 100vh;
}

.service {
  height: 100vh;
  overflow: hidden;
}

.section1 {
  float: left;
  width: calc(100vw - ((100vw - 100%)));
  height: 100vh;
  background-color: black;
  color: white;
  -webkit-clip-path: polygon(0 0, 43% 0, 58% 100%, 0 100%);
  clip-path: polygon(0 0, 43% 0, 58% 100%, 0 100%);
  /* animation-name: pullup;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

.section2 {
  position: absolute;
  right:0;
  width: calc(57vw - ((100vw - 100%)/2));
  text-align: center;
  background-color: rgba(240,240,240,1)	;
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  /* animation-name: dropdown;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

.insection1 {
  float: right;
  height: 100vh;
  width: calc(100vw - ((100vw - 100%)));
  background-color: black;
  text-align: center;
  -webkit-clip-path: polygon(57% 0, 100% 0, 100% 100%, 42% 100%);
  clip-path: polygon(57% 0, 100% 0, 100% 100%, 42% 100%);
  /* animation-name: pullup;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

.insection2 {
  position: absolute;
  left: 0;
  width: calc(57vw - ((100vw - 100%)/2));
  height: 100vh;
  text-align: center;
  background-color: rgba(240,240,240,1)	;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  /* animation-name: dropdown;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

.secontent1 {
  position: relative;
  height:84vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
  text-align: center;
}

.secontent2 {
  position: relative;
  height:84vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.insecontent1 {
  position: relative;
  height:84vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
  margin-left: 50vw;
  color: white;
}

.insecontent2 {
  position: relative;
  height:84vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.pcarouselbot {
  position: relative;
  top:50%;
  width:45vw;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.pcarousel {
  width:45vw;
  margin-left: 8vw;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.pslide {
}

.pcontent {

  margin-right: 50vw;
  text-align: center;
}

.pcontentbot {
  position: relative;
  top: 15vh;
  text-align: center;
}

.footer {
  height: 3vh;
  position: relative;
  top:100vh;
  background-color: black;
}

.pfooter {
  height: 3vh;
  position: relative;
  background-color: black;
}

.pfpage {
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(240,240,240,1);
}

.pfheadings  h2{
  padding-top: 5vh;
  font-weight: 100;
}

.pfheadings p {
  padding-top: 3vh;

}

.pfcats {
  padding-top: 5vh;
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 2vh;
}

.but {
  margin-left: 2vw;
  padding:2vh 2vw 2vh 2vw;
  text-decoration: none;
  color: black;
}

.but:hover {
  cursor: pointer;
}

.headline {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.gallery {
  padding-top:0vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.owl-carousel,
.owl-stage-outer { transition: height 500ms ease-in-out 0s;}

.gallery .owl-stage-outer {
   z-index:3;
}

.imgallery a{
  display: inline-block;
  width: 29vw;
  padding-left:1vw;
  margin-bottom: 2vh;
}

.imgallery a:hover {
    cursor: pointer;
}

/* .d3gallery a{
  display: inline-block;
  width: 29vw;
  padding-left:1vw;
  margin-bottom: 2vh;
} */

.d3gallery a:hover {
    cursor: pointer;
}

.contentgallery a{
  display: inline-block;
  width: 29vw;
  padding-left:1vw;
  margin-bottom: 2vh;
}

.contentgallery a:hover {
    cursor: pointer;
}

.slider-container {
    background-color: black;
    overflow: hidden;
    height:100vh;
}

#slider {
    height:100vh;
}

.slider-container img {
    width:100vw;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}


.prev {
    width: 2vw;
    height:auto;
    position: absolute;
    top: 85%;
    left: 43vw;
    margin-left: -20px;
    z-index:2;
}

.playcar {
    position: absolute;
    top: 85%;
    left: 48vw;
    width: 2vw;
    height:2vw;
    z-index:2;
}

#test {
    position: absolute;
    top: 85%;
    left: 51vw;
    width: 3vw;
    height: auto;
    z-index: 2;
}

#test:hover {
    cursor:pointer;
}

.playcar:hover {
    cursor: pointer;
}

.next:hover {
    cursor: pointer;
}

.prev:hover {
    cursor: pointer;
}

.next {
    height: 2vw;
    width: auto;
    position: absolute;
    top: 85%;
    right: 43vw;
    color: white;
    z-index:2;
}

.close {
  position: absolute;
  top: 10%;
  right:10%;
  width: 2vw;
  height:2vw;
  z-index:2;
}

.close img {
  height: 100%;
  width:100%;
}

.conpage {
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../images/cbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.conheadings {
  color: white;
  padding-top: 5vh;
  height: 100vh;
  width: calc(100vw - ((100vw - 100%)));
  overflow: hidden;
}

.conheadline {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));

}

.leftsection p{
  color: rgba(200,200,200,1);
}

.rightsection p{
  color: rgba(200,200,200,1);
}

.input-container {
    padding-left: 3vw;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    margin: auto;
    color: black;
    font-size: 20px;
    padding-left: 5px;
    height: 38px;
    width:35px;
    text-align: center;
    background-color: white;
}

.icon .facon {
  margin-top: 9px;
}

.input-field {
    width: 100%;
    padding: 1vh;
    outline: none;
    border: none;
}

.input-container:focus {
    border: 2px solid black;
}

.cbutton {
  padding: 1vh 1.5vw 1vh 1.5vw;
  background-color: #ff6749;
  border-radius: 5px;
  border-color: #ff6749;
  border-width: 1px;
  border-style: groove;
  font-size: 16px;
  font-weight: bold;
  color:white;
  transition: all 0.15s;
  display: inline-block;
  text-align: center;
}

.cbutton:hover {
  background-color: white;
  color:black;
  border-color: white;
  cursor: pointer;
}

.gmap {
  padding-top: 5vh;
  height: 40vh;
  width: 16vw;
}
